@media screen and (min-width: 430px) {
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Monomaniac One', sans-serif;
        margin: 0px;
        padding: 0px;
    }

    .main {
        text-align: center;
        padding: 20px;
        margin: 50px auto;
        box-shadow: 0 0 10px rgb(255, 255, 255);
        margin-left: 30%;
        margin-right: 30%;
        border: 1px solid black;
        border-radius: 22px;
    }

    /* HEADER */
    #header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Monomaniac One', sans-serif;
    }

    .header_nav_ul {
        display: flex;
        list-style-type: none;
    }

    .header_nav_ul_li {
        font-size: 18px;
    }

    .header_nav_ul_li_a {
        padding: 27px;
        text-decoration: none;
        color: black;
    }

    .header_nav_ul_li_a:hover {
        transition: 0.5s;
        color: #866da0;
    }

    /* CORPO DA CALCULADORA */
    /* PARTE DO TEXTO */
    h1 {
        color: #735e89;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 32px;
    }

    p {
        color: black;
        line-height: 1.5;
        font-size: 21px;
    }


    /* PARTE DO FORMULÁRIO */
    .form_div {
        justify-content: space-around;
        padding: 16px;
    }

    .form_div_input {
        border: 3px solid #866DA0;
        padding: 10px;
        box-sizing: border-box;
        font-size: 24px;
    }

    button {
        background-color: #866DA0;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
        font-size: 18px;
    }

    button:hover {
        background-color: #735e89;
    }

    .result {
        color: black;
        border-bottom: 1px solid black;
    }


    /* RODAPÉ (FOOTER) */
    /* FALE CONOSCO */
    #faleConosco {
        background-color: hsl(60, 100%, 86%);
    }

    .footerTop {
        display: flex;
        justify-content: space-around;
        padding: 16px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .footer_p {
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
    }

    #form_newsletter_inputEmail {
        display: flex;
        padding: 4px;
        border: 1px solid #866DA0;
    }

    #form_newsletter_button {
        display: flex;
        justify-content: left;
        padding: 2px 16px 2px 16px;
        background-color: #645178;
        font-family: 'Monomaniac One', sans-serif;
        border: 1px solid #645178;
        color: white;
        border-radius: 10px;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 4px;
        ;
    }

    .form_newsletter_button:hover {
        cursor: pointer;
        background-color: #866DA0;
    }
}